.weather-chart-card {
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(14px);

  padding: 24px 28px;
  border-radius: 22px;

  margin-top: 22px;
  width: 100%;

  box-shadow: 0 25px 45px rgba(0,0,0,0.12);
}

.weather-chart-card h3 {
  font-size: 18px;
  margin-bottom: 18px;
  font-weight: 700;
  color: #0f172a;
}
